/* .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1.25rem;
    box-sizing: border-box;
} */

.title {
    font-size: 2rem;
    text-align: center;
    font-family: Arial Black, Arial Black, Gadget, sans-serif;
    color: rgba(255, 255, 255, 0.714);
}

.chatBar, .bar {
    
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.9375rem;
    display: flex; /* Flexbox enables the gap */
    align-items: center;
    justify-content: center;
    gap: 0.9375rem; /* This now controls the space between input and button */
    box-sizing: border-box;
    background-color: transparent; /* Adjust as needed */
}
.bar {
    position: fixed;
    flex-direction: column;
}
.input {
    flex: 1; /* Allows input to take up remaining space */
    max-width: 100%;
    border: 0.0625rem solid #ccc;
    border-radius: 1.25rem;
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    outline: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.1); /* Suggested for white text visibility */
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
.input::placeholder {
    color: white;
    opacity: 0.7;
}

.logButton, .sendButton, .AIbutton {
    border: 0 solid #0070f3;
    background-color: #0070f3;
    color: white;
    border-radius: 1.25rem;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}
.log {
    width: 100%;
}
.logButton {
    width: auto;
    min-width: 21.875rem;
    white-space: nowrap;
    background-color: #9d00ffb3;
    box-shadow: 0.375rem 0.25rem 3.75rem #9d00ff81;
    font-family: Lucida Console, Monaco, monospace;
    font-weight: 700;
    font-size: 1rem;
}
.logButton:hover {
    background-color: #9f03ff;
}
.AIbutton {
    position: fixed;
    bottom: 1.875rem;
    right: 1.875rem;
    z-index: 1000;
    box-shadow: 0.125rem 0.125rem 0.9375rem #27587b;
}
.sendButton {
    border: 0.0625rem solid #0070f3;
    background-color: #0070f3;
    color: white;
    border-radius: 1.25rem;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap; /* Prevents text from wrapping */
    transition: background 0.2s;
    box-shadow: 0.125rem 0.125rem 0.9375rem #27587b;
}

.sendButton:hover {
    background-color: #0051bb;
}

.button:hover {
    background-color: #0051bb;
}
.message {
    max-width: 100%;
    width: 95%;
    max-height: 100%;
    max-height: 12.5rem;
    overflow-y: auto;
    border: 0.0625rem solid #ccc;
    border-radius: 0.9375rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.3125rem 0.9375rem;
    word-wrap: break-word;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
.message::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.vertical {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
}
.phoneInput{
    max-width: 100%;
    border: 0.0625rem solid #ccc;
    border-radius: 1.25rem;
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    outline: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.1); /* Suggested for white text visibility */
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}