@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
    scroll-behavior: auto !important;
}
body {
  overscroll-behavior: none;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 10px;
  gap: 10px;
}
body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}