/* .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
} */

.title {
    font-size: 2rem;
    text-align: center;
    font-family: Arial Black, Arial Black, Gadget, sans-serif;
    color: rgba(255, 255, 255, 0.714);
}

.chatBar, .bar {
    
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    display: flex; /* Flexbox enables the gap */
    align-items: center;
    justify-content: center;
    gap: 15px; /* This now controls the space between input and button */
    box-sizing: border-box;
    background-color: transparent; /* Adjust as needed */
}
.bar {
    position: fixed;
    flex-direction: column;
}
.input {
    flex: 1; /* Allows input to take up remaining space */
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1rem;
    outline: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.1); /* Suggested for white text visibility */
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
.input::placeholder {
    color: white;
    opacity: 0.7;
}

.logButton, .sendButton, .AIbutton {
    border: 0 solid #0070f3;
    background-color: #0070f3;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}
.log {
    width: 100%;
}
.logButton {
    width: auto;
    min-width: 350px;
    white-space: nowrap;
    background-color: #9d00ffb3;
    box-shadow: 6px 4px 60px #9d00ff81;
    font-family: Lucida Console, Monaco, monospace;
    font-weight: 700;
    font-size: 16px;
}
.logButton:hover {
    background-color: #9f03ff;
}
.AIbutton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    box-shadow: 2px 2px 15px #27587b;
}
.sendButton {
    border: 1px solid #0070f3;
    background-color: #0070f3;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap; /* Prevents text from wrapping */
    transition: background 0.2s;
    box-shadow: 2px 2px 15px #27587b;
}

.sendButton:hover {
    background-color: #0051bb;
}

.button:hover {
    background-color: #0051bb;
}
.message {
    width: 95%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 15px;
    word-wrap: break-word;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
.message::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.vertical {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.phoneInput{
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1rem;
    outline: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.1); /* Suggested for white text visibility */
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
